.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.white {
  color: white
}

a {
  text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background: black;
}

.Nav-Bar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-shadow: 0 7px 6px 4px rgba(0,0,0,.2);
}

.Articles {
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: 20%;
  margin-right: 20%;
}
.Article-Box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-image {
  width: 250px;
  height: 270px;
}

.card-image-mini {
  width: 200px;
  height: 220px;
}

.card-clash {
  max-width: 250px;
}

.padding-P {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html, body
{
    height: 100%;
}